/**************Global Styles*****
***************************************/
* {
  box-sizing: border-box;
  text-align: center;
  margin: 0;
  padding: 0;
}

img {
max-width: 100%;
}

body{
  font-family: 'Maven Pro', sans-serif;
  line-height: 1.5;
  background-color: #F9F5EF;
  margin: 0 15px;
  color: #73695A;
}
/************** Header  ***************
***************************************/

header {
  margin-bottom: 3em;
}
.name {
  display: block;
  margin-top: 30px;
  font-size: 2.5em;
}

/* Navigation   */
nav li a{
text-transform: uppercase;
text-decoration: none;
color: #E1834F;
font-size: 1.25em;
display: block;
font-weight: bolder;
padding: .5em 0;
}

ul {
 list-style: none;
}

nav a:hover {
  border: 2px solid #73695A;
  padding: .5em 0;

}

/* profile picture*/
.profile {
  border-radius: 50%;
  border: 5px solid #fdb31d;
  width: 30%;
}

/* description */
.description {
  line-height: 1.6;
  color: #73695A;
  font-size: 1.5em;
  margin-top: 60px;
  margin-bottom: 120px;
  font-family: 'Philosopher', sans-serif;
  padding: 10px 20px;
}

/************** Main *****************
***************************************/
#protfolio  {
 color:#494545;
 margin-bottom: 60px;
 text-transform: uppercase;
 border: 0.1em solid #fdb31d;
}


.col {
margin-bottom: 2.4em;
}

.columns h2 {
  padding:  .6em 0;
}

.columns p {
  font-size: 1.2em;
}
/* skills */
.my-skills {
  text-transform: uppercase;
  border: 0.1em solid #fdb31d;
  margin-top: 3em;
  margin-bottom: 1.5em;
}

#skills li span {
  background-color: #E1834F;
  padding: .3em 1em;
  border-radius: 5px;
  font-size: 1.2em;
  color: #fff;
  margin: .5em 0;
  font-weight: 500;
  display: inline-block;
  width:150px;

}
/************** Footer *****************
***************************************/

#contact {
text-transform: uppercase;
margin-top: 4em;
margin-bottom: 1.5em;
color: #494545;
border: 0.1em solid #fdb31d;
}

.container p {
  font-size: 1.4em;
}

p span {
  font-weight: 500;
  font-size: 1em;
  color: #E1834F;
}
.phone {
  margin-top: 1em;
  margin-bottom: .5em;
}

.email {
  margin-bottom: 3.5em;
}


.student-name a {
  color: #73695A;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: 600;
}

.student-name{
  display: flex;
  justify-content:space-between;
  margin-top: 2em;
  margin-bottom: 1em;
  border-top: .01em solid #73695A;
  padding-top: 1.5em;
}

.student-name a:hover {
  color: #E1834F;
}

.footer-nav {
    display: none;
}


/**************@media *****************
***************************************/

@media screen and (min-width: 768px) {

  body {
    width: 90%;
    margin: 0 auto;
  }

.main-nav,
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}
.name {
  margin-top: 0;
}
 .main-nav li {
  padding: .5em 1em;

}
.main-nav li a {
  font-size: 1.3em;
  display: inline-block;

}

#top {
  margin-top: 2em;
}
 nav a:hover {

  font-weight: 500;
}


.profile{
  float: right;
  width: 25%;
  margin-right: 4em;
  display: inline;
}
.description {
  text-align: left;
  width:60%;
}

.columns {
    display: flex;
     flex-direction: row;
     flex-wrap: wrap;
    justify-content: space-between;

}
.columns div {
    max-width: 48%;
}
.student-name a {
  display: none;
}

.student-name {
    display: none;
}

.footer-nav {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.footer-name{
  text-transform: uppercase;
  text-decoration: none;
  color: #73695A;
  font-size: 1.25em;
  /* display: block; */
  font-weight: bolder;
  padding: .5em 0;

}
.footer-nav,
  .nav2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: .01em solid #73695A;
}
.footer-nav li {
 padding: .5em 1em;

}
@media screen and (min-width: 1024px) {
  .main-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2em;
  }

.name {
  margin-right: auto;
  margin-top: 0;
}

.profile{
  width: 200px;
}
.description {
  text-align: left;
  width:70%;
}

.columns div {
    max-width: 30%;
}
#skills {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}
/* #skills li span {

  flex-direction: row;
  justify-content: space-between;
} */

/* .description {
  text-align: left;
  display: inline-block;
  width:70%;
} */

}
