/************** Global Layout ********
**************************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
max-width: 100%;
}

body{
  font-family: 'Maven Pro', sans-serif;
  line-height: 1.5;
  background-color: #F9F5EF;
  margin: 0 15px;
  color: #73695A;
  text-align: center;
}

/************** Header ***************
**************************************/

header {
  margin-bottom: 5em;

}
.name {
  display: block;
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 2.2em;
}

/* Navigation   */
.nav li a{
text-transform: uppercase;
text-decoration: none;
color: #fdb31d;
font-size: 1.25em;
display: block;
font-weight: bolder;
padding: .3em 0;
border: .03em solid #73695A;
margin-bottom: .5em;
}

ul {
 list-style: none;
}

.nav a:hover {
  border: .03em solid #fdb31d;
  padding: .3em 0;

}

.footer-nav {
  display: none;
}
/************** Main *****************
**************************************/
.banner {
padding-top: 2em;
  background-color: #DFDFDF;


}
.profile {
  border-radius: 50%;
  border: 5px solid #fdb31d;
  width: 30%;
  margin-bottom: 2em;


}

.description {
  line-height: 1.6;
  color: #73695A;
  font-size: 1.5em;
  margin-bottom: 120px;
  font-family: 'Philosopher', sans-serif;
  padding: 10px 20px;
}

#protfolio  {
 color:#494545;
 margin-bottom: 80px;
 text-transform: uppercase;
 border: 0.1em solid #fdb31d;
}

.col {
margin-bottom: 2.4em;
}

.columns h2 {
  padding:  .6em 0;
}

.columns p {
  font-size: 1.2em;
}
/* skills */
.my-skills {
  text-transform: uppercase;
  border: 0.1em solid #fdb31d;
  margin-top: 6em;
  margin-bottom: 1.5em;
}

#skills li span {
  background-color: #E1834F;
  padding: .3em 1em;
  border-radius: 5px;
  font-size: 1.2em;
  color: #fff;
  margin: .5em 0;
  font-weight: 500;
  display: inline-block;
  width:150px;
}
/************** Footer ****************
***************************************/
#contact {
text-transform: uppercase;
margin-top: 6em;
margin-bottom: 1.5em;
color: #494545;
border: 0.1em solid #fdb31d;
}

.container p {
  font-size: 1.4em;
}

p span {
  font-weight: 500;
  font-size: 1em;
  color: #E1834F;
}

.phone {
  margin-top: 1em;
  margin-bottom: .5em;
}

.email {
  margin-bottom: 3.5em;
}

.student-name a {
  color: #73695A;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: 600;
}

.student-name {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
  margin-bottom: 1em;
  border-top: .01em solid #73695A;
  padding-top: 1.5em;
}

.student-name a:hover {
  color: #E1834F;
}

footer-nav {
  display: none;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/**************@media Queries**********
***************************************/
@media screen and (min-width: 768px) {
  body {
    width: 90%;
    margin: 0 auto;
  }

 .main-nav,
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.name{

}
header {
  margin-top: 1.5em;
}
 .name {
  margin-top: 0;
}

  .main-nav li {
  padding: .5em 1em;

}

  .nav li a {
  font-size: 1.3em;
  display: inline-block;
  border: none;
}

.nav a:hover {
  color: #73695A;
  border: none;

}

.profile{
  float: right;
  width: 22%;
  margin-right: 10%;
  /* display: inline; */
}

.description {
  text-align: left;
  width:60%;
}

.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.columns div {
  max-width: 48%;
}

.footer-nav,
.nav2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: .01em solid #73695A;
  padding-top: .6em;

}
.nav2 {
  border-top: none;
}

.nav2 li a{
text-transform: uppercase;
text-decoration: none;
color: #fdb31d;
font-size: 1.2em;
display: inline;
font-weight: bold;
margin-bottom: 0;

}


.nav2 a:hover {
color: #73695A;

}
.footer-name {
  display: inline;
  font-size: 1.5em;
  padding-left: 1em;

}

.footer.nav {

margin-bottom: 5em;
}

.student-name {
display: none;

}

.nav2 li {
 padding: .5em 1em;

}

@media screen and (min-width: 1024px) {
body {
  max-width: 1024px;
  margin: 0 auto;
}

.main-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2em;
}

.name {
  margin-top: 0;
  padding-left: 0.5em;
}

.profile {
  width: 20%;
}

.description {
  text-align: left;
  width:60%;
}

#protfolio {
  margin-top: 5em;
}
.columns div {
  max-width: 30%;
}

#skills {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
 }
}
